<div class="grid grid-cols-6 container mx-auto">
  <div 
  *ngFor="let category of categories"
    class="group hover:border-primary overflow-hidden rounded-xl border border-gray-200 bg-white py-2 transition-all duration-500 hover:border-emerald-600"
  >
    <div
      class="flex items-center justify-center gap-10 py-4 transition-all duration-500"
    >
      <img
        alt="image"
        loading="lazy"
        width="50"
        height="50"
        class="h-28 w-auto rounded-lg transition-all duration-500 group-hover:scale-110"
        src={{category.imageUrl}}
        style="color: transparent"
      />
    </div>
    <h5 class="mt-2 text-center text-base font-semibold text-gray-800">
      {{category.name}}
    </h5>
  </div>
</div>
